# Dependencias de Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Persistencia y bases de datos locales (Evita subir dumps de Redis)
**/data/
*.rdb
*.dump

# Variables de entorno secretas
.env
.env.local

# Archivos del Sistema Operativo / IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
